* {
  box-sizing: border-box;
}

.box {
  color: aqua;
  text-align: center;
  font-size: 12px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
    margin-right: 4px;
}